* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial ,"Helvetica";
    font-size:1em;
    background:#ededed;
}

fieldset {
   
    border:0;
    float:left;
    margin: 5px 0 0 5px;
}

legend{

    text-transform: uppercase;
    color:#444;
    font-weight: bold;
    font-size: 12px;    
}

label{
    
    text-transform: uppercase;
    color:#444;
    font-weight: bold;
    font-size: 10px;
}

a {
    text-decoration:none;   
}

#container {
    background:#fdfdfd;
    width:1000px;
    margin:0 auto;

    padding:20px;
    border:2px solid #e3e3e3;
    overflow: auto;
}

#menu {
    background:#f2f2f2;
    list-style:none;
    border:1px solid #e6e6e6;
    overflow:auto;
}

#menu li {
    height:20px;
    line-height:20px;
    border-right:1px solid #e6e6e6;
	float:left;
	padding:10px 30px 10px 30px;
    text-align: center;
}

#menu li:hover {
    background:#fff;
}

#menu li a {
    text-transform: uppercase;
    color:#444;
    font-weight: bold;
    font-size: 12px;
}

.shifts_table {

    border-collapse:collapse;
    float:left;
    margin:5px 5px 0 5px;
    border:1px solid #ddd;


}

#notes{
    width:100px;
}

.shifts_table tbody tr td {
    padding:10px;
    font-size: 12px;
}
 
.shifts_table thead tr {
    text-transform: uppercase;
    background:#eee;
    height:70px;
}

.shifts_table tbody tr:nth-child(even){
    background:#F8F8F8;
}

.shifts_table tbody tr:nth-child(odd){
    background:#F4F4F4;
}


.shifts_table tbody tr {
    border-bottom:1px dashed #ddd;
}

#free_shifts tbody tr td:nth-child(5){
    border-left:1px #ddd dashed;
    min-width:100px;
}

#free_shifts{
    float:right;
    
}

.table_boldtext{
    font-weight: bold;
    color:#555;
  margin-top:15px;
  
}
.shifts_table td{
    width: 70px;
    
}
#my_shifts{
width:490px;
}


.button_row {
    text-align: center;
}

.button {
    background:#12B9DB;
    padding:5px;
    border-radius:2px;
    color:#fff;
    font-weight:bold;
    margin-top: 10px;
    display: inline-block;
    
    
}

#shifts_today {
  
    float:left;
}


#hello_user {
    float:right;
    margin:15px 20% 15px 0;
    background:#CFDE5C;
    color:#fff;
    padding:7px 10px 9px 0;
    border-radius:3px;
    font-size:13px;
}

#hello_user:before {
    content: url('../img/profile.png');
    background:#666;
    padding:10px 4px 10px 4px;
    height:inherit;
    border-radius:3px 0 0 3px;
    margin-right:6px;
    font-size:11px;
  
}
#hello_user a {
    text-decoration:none;
}

/* baggrund on hover */
#hello_user a:hover { 
    background: #CFDE5C; 
}

/* Hide and show elements*/
.hidden {
    display: none;
}

.reveal_hidden:hover .hidden {
    display: inline;
}

#logout_link {
    margin:15px 0 0 35px;
}


/* browseDate.php */
#create_shift_popup #create, #create_shift_popup #overview {
        float:right;  
}

#create_shift_popup #create {
        width:310px;
        margin:0 30px 0 0
}

#create_shift_popup #create fieldset div {
        float:left;
}

#create_shift_popup #create legend {
        font-weight:bold;
        margin:0 0 5px 0;
}

#create_shift_popup #create label {
        display:block;
        margin:15px 0 3px 0;
        font-weight:bold;
}

#create_shift_popup #create div label {
        margin:0 0 15px 0;
        font-size:11px;
        font-weight:normal;
}

#create_shift_popup #create input[type='text'],
#create_shift_popup #create select {
        margin:0 0 3px 0;
        height:30px;
}

#create_shift_popup #create input[type='text'] {
        padding:0 0 0 5px;
        width:40px;
}

#create_shift_popup #create textarea {
        height:150px;
        resize:none;
        padding:0 0 0 5px;
        width:300px;
}

#create_shift_popup #create input[type='submit'] {
        background:#0DAAD1;
        border:0;
        border-radius:2px;
        color:#fff;
        display:inline-block;
        font-weight:bold;
        font-size:14px;
        padding:10px;
}

#create_shift_popup #overview {
        width:500px;
        border-radius:4px;
}


.selectedOption {
    color:#ff6600;
}

input, select {
    display: block;
    margin: 2px 0 5px 0;
}

.createUser{
    margin: 10px 100px 0 20px;
}

#deleteUser label {
    margin-bottom: 5px;
}
#deleteUser {
    margin-top: 10px;
}

.deletebutton {

    background:#666;
    padding:5px;
    border-radius:3px;
    color:#fff;
    font-weight:bold;
}

.returnbutton{

background:#666;
    padding:5px;
    border-radius:2px;
    color:#fff;
    font-weight:bold;
    font-size: 0.75em;
    display:inline-block;
   
    margin-left: 145px;
    display:inline-block;
}



/* Weekly schedule */

#weeklySchedule {
    width:875px;   
    margin:5px auto;
    border:1px solid #ddd;
    overflow: auto;
}

.day_list {  
    float:left;
    list-style:none;
}

#weeklySchedule h2 {
    background: #eee;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
}

.day_list li {
    padding:10px;
    border-bottom:1px dashed #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    font-size: 12px;
}

.day_list li:first-of-type {  
    background:#F4F4F4;
    font-weight: bold;
    color:#555;
    border-left:0;
    border-right:0;
    text-align: center;
}

.day_list li:nth-child(even){
    background:#F8F8F8;
}

.day_list li:nth-child(odd){
    background:#F4F4F4;
}

.day_list li span {
    display: block;
    margin:2px 0 2px 0;
}




