* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial ,"Helvetica";
    font-size:1em;
    background:#ededed;
}

a {
    text-decoration:none;   
}

#main {
    background:#fdfdfd;
    width:1000px;
    margin:0 auto;
    padding:20px;
    border:2px solid #e3e3e3;
    overflow: auto;
}

#menu {
    background:#f2f2f2;
    list-style:none;
    border:1px solid #e6e6e6;
    overflow:auto;
}

#menu li {
    height:20px;
    line-height:20px;
    border-right:1px solid #e6e6e6;
	float:left;
	padding:10px 30px 10px 30px;
    text-align: center;
}

#menu li:hover {
    background:#fff;
}

#menu li a {
    text-transform: uppercase;
    color:#444;
    font-weight: bold;
    font-size: 12px;
}

.shifts_table {
    width:490px;   
    border-collapse:collapse;
    float:left;
    margin:5px 5px 0 5px;
    border:1px solid #ddd;
}

.shifts_table tbody tr td {
    padding:10px;
    font-size: 12px;
}
 
.shifts_table thead tr {
    background:#eee;
    height:70px;
}

.shifts_table tbody tr:nth-child(even){
    background:#F8F8F8;
}

.shifts_table tbody tr:nth-child(odd){
    background:#F4F4F4;
}


.shifts_table tbody tr {
    border-bottom:1px dashed #ddd;
}

#free_shifts tbody tr td:nth-child(5){
    border-left:1px #ddd dashed;
    min-width:100px;
}

.table_boldtext {
    font-weight: bold;
    color:#555;
}

.button_row {
    text-align: center;
}

.button {
    background:#12B9DB;
    padding:5px;
    border-radius:3px;
    color:#fff;
    font-weight:bold;
    
}

#hello_user {
    float:right;
    margin:15px 20% 15px 0;
    background:#CFDE5C;
    color:#fff;
    padding:8px 10px 10px 0;
    display: inline-block;
    border-radius:3px;
    font-size:13px;
}

#hello_user:before {
    content: url('../img/profile.png');
    background:#666;
    padding:10px 4px 10px 4px;
    height:inherit;
    border-radius:3px 0 0 3px;
    margin-right:6px;
    font-size:11px;
}
